DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
ADMIN_DATABASE_URL="postgresql://supabase_admin:postgres@127.0.0.1:54322/postgres"

PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
PUBLIC_SUPABASE_ANON_KEY=""
SERVICE_ROLE_KEY=""

PUBLIC_ENVIRONMENT="development"
FILESYSTEM="SUPABASE"

SAML_METADATA_IDP_URL=""
PUBLIC_SAML_IDP_DOMAIN="example.org"
PUBLIC_SRAM_SAML_IDP_DOMAIN="example.org"
